.item-component {

  word-break:break-word;
  cursor:pointer;

  height: 100%;
  position: relative;


  /*
  .popup {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    right: 50%;
  }
  */
}
